/* header starts */
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    background-color: rgba(229, 84, 115, 0.10);

}

.banner {
    display: flex;
}

.banner-section {
    padding: 230px 250px 120px 300px;


}

header {
    background-image: url('./image/pngwing\ 10.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.site-title {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    width: 680px;
    height: 300px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    width: 600px;
    height: 80px;
    padding: 10px;


}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 45px;
    align-items: flex-start;
    gap: 10px;
    border: 0;

}

.main-div {
    margin-top: 100px;
    padding: 50px 500px;


}

.primary-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;

}

.banner-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
/* hot sale starts */
.hot-sale{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
width: 100%;
height: 500px;
text-align: center;
background-image: url('./image/pngwing\ 8.png');
background-repeat: no-repeat;
background-size: contain;
background-position:right top;
padding-top: 100px;

}
.hot-sale h3{
    color: #272727;
font-size: 40px;
text-align: center;
font-weight: 800;
padding:60px 80px 24px 50px ;

}
.hot-sale p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    padding: 20px 500px;
    text-align: center;
}


/* instagram section starts */
.insta-title{
    margin-top: 50px;
    padding: 50px 500px;
}


.insta-title h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 15px;

}
.insta-des{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;

}


.insta-image {
    display: flex;
    margin: 50px 110px;
    gap: 20px;
}

.insta-image img {
    width: 300px;
    height: 320px;
}

/* coupon section starts */
.coupon {
    border-radius: 8px;
    background: url('./image/Rectangle\ 9.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 50px 100px;
    padding: 150px 150px;
}

.coupon h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 30px;

}

.coupon p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 50px;
}

.input-email {
    width: 70%;
    height: 64px;
}


/* footer starts */
.footer {
    background: #111010;
    padding: 200px 0px;
}

.footer h2 {
    text-align: center;
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.footer-shop {
    color: #FFFFFF;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 500px;
}

.end {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}